
<!-- TODO : buat pilihan resolusi -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>YouTube Video Downloader</title>
</head>
<body>
    <!-- <h1>YouTube Video Downloader</h1> -->

    <p class="text">Enter a YouTube video URL :</p>
    <form action="{{ url_for('download_video') }}" method="POST">
        <input type="text" id="video_url" name="video_url" required placeholder="Enter YouTube Video URL" value="{{ video_url }}">
        <button type="submit" class="start-btn" id="start-btn">Start -></button>
    </form>

    {% if error_message %}
    <div class="error">
        <p>{{ error_message }}</p>
    </div>
    {% endif %}

    {% if img_url %}
    <img src="{{ img_url }}" alt="Video Thumbnail" class="thumbnail-video">
    {% endif %}


    <!-- <button class="resolution-btn" id="resolution-btn">resolution</button>   -->

    <!-- <script>
        const resolutionButton = document.getElementById('resolution-btn');
        const videoInput = document.getElementById('video_url');

        window.addEventListener('DOMContentLoaded', function() {
            if (videoInput.value.trim() !== '') {
                resolutionButton.style.display = 'block';
            }
        });

        videoInput.addEventListener('input', function(e) {
            if (videoInput.value.trim() === '') {
                resolutionButton.style.display = 'none';
            } else {
                resolutionButton.style.display = 'block';
            }
        }); -->
    </script>

</body>
</html>
