<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>YouTube Video Downloader</title>
</head>
<body>
    <h1>YouTube Video Downloader</h1>

    <p class="text">Enter a YouTube video URL :</p>
    <form action="{{ url_for('download_video') }}" method="POST">
        <input type="text" id="video_url" name="video_url" required placeholder="Enter YouTube Video URL">
        <button type="submit">Download</button>
    </form>

    {% if video_info %}
    <div class="thumbnail">
        <img src="{{ video_info.thumbnail_url }}" alt="Video Thumbnail">
    </div>
    {% endif %}
</body>
</html>
